.card {
    margin-top: 15px;
    margin-bottom: 15px;
    min-height: 400px;
}
.cardActionHeaderRow {
    padding-bottom: 0;
    flex: 0 1 auto;
}
.model-content.modelContent {
    background-color: rgba(255, 255, 255, 0.58);
}