<div *ngIf="(isTestinProgress | async) && !!(selectedSectionName)" class="row marginLeftRightZero">
  <div class="col-12 sectionNameLabel">
    {{selectedSectionName | async}}
  </div>
</div>

<div *ngIf="(isTestinProgress | async)" class="row marginLeftRightZero questionRow">
  <div class="col-12">
    <div class="row marginLeftRightZero" *ngIf="!!(currQuestion | async)">
      <div class="col-12 padLeftRightZero">
        Ques) {{(currQuestion | async).title}}
      </div>
      <div class="col-12 verticleSpace"></div>
      <div class="col-12 padLeftRightZero" *ngIf="!!(currQuestion | async).description">
        Description: {{(currQuestion | async).description}}
      </div>

      <div class="col-12 verticleSpace"></div>
      <!-- <div class="col-12 verticleSpace"></div> -->

      <div class="col-12">
        <!-- Options and Answers here.. -->

        <!-- Single Answer Type -->
        <div class="row marginLeftRightZero" *ngIf="(currQuestion | async).question_type === 'single'">
          <div class="col-12 padLeftRightZero">
            <div class="row optionsRow marginLeftRightZero" *ngFor="let opt of (currQuestion | async).answer.answer_option">
              <input type="radio" name="options-Q{{idx}}" value="{{opt}}" (change)="singleAnswerChange($event)">{{opt}}
            </div>
          </div>
          <div class="col-12 verticleSpace"></div>
          <div class="col-12 padLeftRightZero">
            Selected Answers: {{!!(currQuestion | async).answer.answer_value.length ? (currQuestion | async).answer.answer_value : 'Not Attempted'}}
          </div>
        </div>

        <!-- Multiple Answer Type -->
        <div class="row marginLeftRightZero" *ngIf="(currQuestion | async).question_type === 'multiple'">
          <div class="col-12">
            <div class="row optionsRow" *ngFor="let opt of (currQuestion | async).answer.answer_option">
              <input type="checkbox" name="options-Q{{idx}}" value="{{opt}}">{{opt}}
            </div>
          </div>
          <div class="col-12 verticleSpace"></div>
          <div class="col-12">
            <!-- Selected Answers: {{!!ques.answerResponse.length ? (ques.answerResponse | json) : 'Not Attempted'}} -->
          </div>
        </div>

        <!-- Text Answer Type -->
        <!-- <div class="row marginLeftRightZero" *ngIf="(currQuestion | async).question_type === 'text'">
          <div class="col-12">
            <input type="text" name="options-Q{{idx}}" value="" [(ngModel)]="ques.answerResponse">
          </div>
          <div class="col-12">
            Selected Answers: {{!!ques.answerResponse ? ques.answerResponse : 'Not Attempted'}}
          </div>
        </div> -->

      </div>
    </div>
  </div>


</div>
<div *ngIf="(isTestinProgress | async)" class="row marginLeftRightZero">
  <div class="col">
    <!-- <button *ngIf="(currQuestionCounter | async) > 0" type="button" class="btn btn-outline-success quesNavButton" (click)="showPrevQuestion()">Previous</button> -->
    <button *ngIf="(currQuestionCounter | async) > 0" type="button" class="btn btn-outline-success quesNavButton" (click)="showPrevQuestion()">Previous</button>
    <span>QuesCounter: {{currQuestionCounter | async}}</span>
  </div>
  <div class="col text-right">
    <button *ngIf="((currQuestionCounter | async) < 5) && ((currQuestionCounter | async) > -2)" type="button" class="btn btn-outline-success quesNavButton"
      (click)="showNextQuestion()">Next</button>
    <button type="button" class="btn btn-outline-success saveAnswerButton" (click)="saveCurrQuestion()">Save</button>
  </div>
</div>