<div *ngIf="(isTestinProgress | async)" class="row marginLeftRightZero timerContainer">
  <div class="col text-center">
    <h5 class="timerValue">{{remainingTime}}</h5>
  </div>
</div>

<div *ngIf="(isTestinProgress | async)" class="row marginLeftRightZero">
  <div class="col padLeftRightZero">
    <ul>
      <li>
        <span (click)="expandQuestionnaire = !expandQuestionnaire" class="questionnaireTitleIcon" [ngClass]="expandQuestionnaire ? 'questionnaireExpanded' : ''">{{expandQuestionnaire ? '&#8211;' : '+'}}</span>
        <span class="questionnaireTitle" [ngClass]="expandQuestionnaire ? 'questionnaireExpanded' : ''">{{questionnaireStructure.questionnaireName}}</span>
        <ul [ngClass]="expandQuestionnaire ? '' : 'hideList'">
          <li *ngFor="let section of questionnaireStructure.sections; let secIdx = index">
            <span (click)="selectedSection(secIdx, section)" class="sectionTitleIcon">{{section.sectionExpanded ? '&#8211;' : '+'}}</span>
            <span class="sectionTitle" [ngClass]="[secIdx === selectedSectionIdx ? 'currentSec' : '', section.sectionExpanded ? 'expandedSec' : '']">{{section.sectionName}}</span>
            <ul [ngClass]="((secIdx === selectedSectionIdx) && section.sectionExpanded) ? '' : 'hideList'">
              <li *ngFor="let ques of section.questions; let quesIdx = index">
                <span [ngClass]="[((quesIdx === selectedQuesIdx) && (secIdx === selectedSectionIdx)) ? 'currentQues' : '', ques.isAnswered ? 'answeredQues' : '']" (click)="selectedQuestion(ques, quesIdx)">{{ques.description}}</span>
              </li>
            </ul>
          </li>
        </ul>
      </li>
    </ul>

  </div>
</div>