// Global Styles Here
@import '../../shared/styles/common';

.timerContainer {
    padding-top: 25px;
    padding-bottom: 25px;
    >.col h3 {
        margin-left: 8%;
    }
}

// li:before {
//     content: '\002B';
//     margin-right: 4px;
// }
ul {
    list-style-type: none;
    padding-left: 5px;
    li {
        span {
            // cursor: pointer;
        }
        ul {
            padding-left: 25px;
            li {
                ul {
                    padding-left: 30px;
                    li {
                        overflow: hidden;
                        text-overflow: ellipsis;
                        span {
                            cursor: pointer;
                            white-space: nowrap;
                            &:before {
                                content: '\002d';
                                margin-right: 5px;
                                color: $dark2;
                                font-weight: bold;
                            }
                        }
                    }
                }
            }
        }
    }
}

.questionnaireTitleIcon,
.sectionTitleIcon {
    margin-right: 5px;
    color: $dark2;
    font-weight: bold;
    cursor: pointer;
}
.hideList {
    display: none;
}
.questionnaireTitle {
    color: #000000;
    // font-weight: 400;
    font-family: "Helvetica Neue", Helvetica;
}
.currentSec {
    color: #000000;
    font-weight: 400;
    font-family: "Helvetica Neue", Helvetica;
}
.currentQues {
    color: #000000;
    font-weight: 400;
    font-family: "Helvetica Neue", Helvetica;
}
.answeredQues {
    color: $dark2;
    // font-weight: bold;
    // font-weight: 400;
    font-family: "Helvetica Neue", Helvetica;
}

.timerValue {
    font-weight: 400;
}