<div *ngIf="(isTestinProgress | async)" class="row marginLeftRightZero timerContainer">
  <div class="col">
    <h3 class="timerValue" [ngClass]="warningIndicator">{{remainingTime}}</h3>
  </div>
</div>

<div *ngIf="(isTestinProgress | async)" class="row marginLeftRightZero">
  <div class="col padLeftRightZero">
    <ul>
      <li>
        <span (click)="expandQuestionnaire = !expandQuestionnaire" class="questionnaireTitleIcon" [ngClass]="expandQuestionnaire ? 'questionnaireExpanded' : ''">{{expandQuestionnaire ? '&#8211;' : '+'}}</span>
        <span class="questionnaireTitle" [ngClass]="[expandQuestionnaire ? 'questionnaireExpanded' : '', ((questionSet | async).sections_questions | checkAllAnswered: 'allsections') ? 'allAnswered' : '']">{{(questionSet | async).title}}</span>
        <ul [ngClass]="expandQuestionnaire ? '' : 'hideList'">
          <li *ngFor="let section of (questionSet | async).sections_questions; let secIdx = index">
            <span (click)="selectedSection(secIdx, section)" class="sectionTitleIcon">{{section.sectionExpanded ? '&#8211;' : '+'}}</span>
            <span class="sectionTitle" [ngClass]="[secIdx === (currSecCounter | async) ? 'currentSec' : '', section.sectionExpanded ? 'expandedSec' : '', (section | checkAllAnswered) ? 'answeredSection' : '']">{{section.title}}</span>
            <ul [ngClass]="((secIdx === (currSecCounter | async)) && section.sectionExpanded) ? '' : 'hideList'">
              <li *ngFor="let ques of section.questions; let quesIdx = index">
                <span [ngClass]="[((quesIdx === (currQuestionCounter | async)) && (secIdx === (currSecCounter | async))) ? 'currentQues' : '', ques.isAnswered ? 'answeredQues' : '']"
                  (click)="selectedQuestion(ques, quesIdx)" title="{{ques.title}}">{{ques.title}}</span>
              </li>
            </ul>
          </li>
        </ul>
      </li>
    </ul>
  </div>
</div>