
$dark0: #3cccbe;
$dark1: #99ddc8;
$dark2: #2eb98f;

$light0: #e1f4ee;

// $contentBorderColor: #dbdbdb;
$contentBorderColor: #ededed;

$headerBgColor: #ffffff;
$headerBottomBorder: 1px solid $dark0;

$titlebarBgColor: $dark1;
$footerBgColor: $dark1;
$adminLeftSidebarBgColor: $light0;
$userSidebarBgColor: $light0;

// $headerBottomBorder: 5px solid #65e26e;
// $footerBgColor: #88ffa3;
// $leftSidebarBgColor: #f1f1f1;

