// Global Styles Here
@import '../../shared/styles/common';

.homeRow {
    min-height: 100%;
    height: auto;
    >div {
        border: .5px solid $contentBorderColor;
        padding: 25px;
    }
}

// .startTestButton {

// }