<!-- <div class="row marginLeftRightZero homeRow">
  <div class="col text-center">
    <h5>Test Submitted: {{isTestSubmitted | async}}</h5>
  </div>
</div> -->

<div class="row marginLeftRightZero homeRow">
  <div class="col-12 text-center" *ngIf="(isTestSubmitted | async)">
      <p>&nbsp;</p>
      <h5 class="submittedLabel">Your Test is submitted successfully.</h5>
  </div>

  <div class="col-12 text-center" *ngIf="!(isTestSubmitted | async)">
    <h5>Welcome!</h5>
    <p>&nbsp;</p>
    <p>Kindly read all the questions carefully and answer accordingly.</p>
    <p>Kindly do not navigate to any other page once test starts.</p>
    <p>Kindly do not Reload page or Refresh browser while test is in progress.</p>
    <p>Save your answer before moving to next question.</p>
    <p>Browse questions via navigation buttons or using left navigation.</p>
    <p>-- All The Best --</p>
    <p>&nbsp;</p>
    <p>
      <button *ngIf="!(isTestinProgress | async) && !(isTestSubmitted | async)" type="button" class="btn btn-outline-success startTestButton"
        (click)="startTest()">Click here to Start Test</button>
    </p>
  </div>
</div>