<div class="row">
	<div class="col">
		<div class="card text-center">
			<div class="card-header text-left">
				<h4>Upload Questions</h4>
			</div>
			<div class="card-block">
				<div class="row">
					<div class="col">
						<form class="text-left">
							<div class="form-group row">
								<label class="col-12 col-form-label">Select Excel File to upload questions.</label>
								<div class="col-12">
									<input type="file" class="form-control uploadButton" id="uploadButton">
								</div>
							</div>
							<div class="form-group row">
								<div class="col-12">
									<input type="checkbox" class="form-control overrideOption" id="overrideOption">
									<label>Do you want to append to existing questions?</label>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>

		</div>
	</div>
</div>