
// $headerBgColor: #88ffa3;
$headerBgColor: #ffffff;
// $headerBottomBorder: 5px solid #65e26e;
$headerBottomBorder: 1px solid #3cccbe;

$titlebarBgColor: #99ddc8;

$footerBgColor: #88ffa3;

$leftSidebarBgColor: #f1f1f1;
$adminLeftSidebarBgColor: #e1f4ee;

