
@import 'colors';
@import 'dimensions';

.padLeftRightZero {
    padding-left: 0;
    padding-right: 0;
}
.marginLeftRightZero {
    margin-left: 0;
    margin-right: 0;
}

.verticleSpace {
    height: 10px;
}