
$headerSectionHeight: 100px;
$headerSectionPadding: 0 30px;

$footerSectionHeight: 60px;
$footerSectionPadding: 10px 30px;

// $contentSectionMinHeight: 460px;
$contentSectionHeight: calc(100vh - 100px - 3px - 55px - 60px);
$adminContentSectionHeight: calc(100vh - 100px - 3px - 55px);

$leftSidebarMinWidth: 200px;
$leftSidebarMaxWidth: 250px;

$userSidebarMinWidth: 250px;
$userSidebarMaxWidth: 300px;
