<div class="container-fluid headerSection">
	<div class="row marginLeftRightZero">
		<div class="col-12 padLeftRightZero">
			<app-user-header></app-user-header>
		</div>
	</div>
</div>

<div class="container-fluid userTitleBarSection">
	<div class="row marginLeftRightZero">
		<div class="col padLeftRightZero titlebarContainerRight">
			<app-user-titlebar></app-user-titlebar>
		</div>
	</div>
</div>

<div class="container-fluid userContentSection padLeftRightZero">
	<div class="row marginLeftRightZero">
		<div class="col-5 userSidebarContainer">
			<app-user-sidebar></app-user-sidebar>
		</div>
		<div class="col-7 contentContainer">
			<router-outlet></router-outlet>
		</div>
	</div>
</div>

<div class="container-fluid userFooterSection">
	<div class="row marginLeftRightZero">
		<div class="col-12">
			<app-user-footer></app-user-footer>
		</div>
	</div>
</div>