<div class="row marginLeftRightZero">
  <div class="col-12 text-right">
    <!-- <button type="button" class="btn btn-success" (click)="storeDec()">Store DECREMENT</button>
    <button type="button" class="btn btn-success" (click)="storeInc()">Store INCREMENT</button> -->
    <button type="button" class="btn btn-success" (click)="loadPreviousQuestion()">Load Previous</button>
    <button type="button" class="btn btn-warning">Reset Answers</button>
    <button type="button" class="btn btn-success" (click)="loadNextQuestion()">Save and Load Next</button>
  </div>
</div>