<div *ngIf="(isTestinProgress | async) && !!(selectedSectionName)" class="row marginLeftRightZero">
	<div class="col-12 sectionNameLabel">
		{{selectedSectionName | async}}
	</div>
</div>

<div *ngIf="(isTestinProgress | async)" class="row marginLeftRightZero questionRow">
	<div class="col-12">
		<div class="row marginLeftRightZero" *ngIf="!!(currQuestion | async)">
			<div class="col-12 padLeftRightZero">
				{{(currQuestionCounter | async) + 1}}. {{(currQuestion | async).title}}
			</div>
			<div class="col-12 verticleSpace"></div>
			<div class="col-12 padLeftRightZero" *ngIf="!!(currQuestion | async).description &&
				((currQuestion | async).description !== (currQuestion | async).title)">
				Description: {{(currQuestion | async).description}}
			</div>

			<div class="col-12 verticleSpace"></div>
			<!-- <div class="col-12 verticleSpace"></div> -->

			<div class="col-12">
				<!-- Options and Answers here.. -->

				<!-- Single Answer Type -->
				<div class="row marginLeftRightZero" *ngIf="(currQuestion | async).question_type === 'single'">
					<div class="col-12 padLeftRightZero">
						<div class="row optionsRow marginLeftRightZero" *ngFor="let opt of (currQuestion | async).answer.answer_option">
							<input type="radio" name="options-S" value="{{opt}}" (change)="singleAnswerChange($event)"
								[checked]="(currQuestion | async).answer.answer_value.indexOf(opt) > -1"
								[disabled]="(currQuestion | async).isAnswered">{{opt}}
						</div>
					</div>
					<div class="col-12 verticleSpace"></div>
					<div class="col-12 padLeftRightZero">
						<!-- Selected Answers: {{!!(currQuestion | async).answer.answer_value.length ? (currQuestion | async).answer.answer_value : 'Not Attempted'}} -->
					</div>
				</div>

				<!-- Multiple Answer Type -->
				<div class="row marginLeftRightZero" *ngIf="(currQuestion | async).question_type === 'multiple'">
					<div class="col-12">
						<div class="row optionsRow" *ngFor="let opt of (currQuestion | async).answer.answer_option">
							<input type="checkbox" name="options-M" value="{{opt}}" (change)="multipleAnswerChange($event)" [checked]="(currQuestion | async).answer.answer_value.indexOf(opt) > -1"
							 [disabled]="(currQuestion | async).isAnswered">{{opt}}
						</div>
					</div>
					<div class="col-12 verticleSpace"></div>
					<div class="col-12">
						<!-- Selected Answers: {{!!ques.answerResponse.length ? (ques.answerResponse | json) : 'Not Attempted'}} -->
					</div>
				</div>

				<!-- Text Answer Type -->
				<div class="row marginLeftRightZero" *ngIf="(currQuestion | async).question_type === 'text'">
					<div class="col-12">
						<input type="text" name="options-T" value="" [(ngModel)]="ques.answerResponse">
					</div>
					<div class="col-12">
						<!-- Selected Answers: {{!!ques.answerResponse ? ques.answerResponse : 'Not Attempted'}} -->
					</div>
				</div>

			</div>

			<div class="col-12 verticleSpace"></div>
			<div class="col-12 padLeftRightZero">
				isAnswered: {{(currQuestion | async).isAnswered}}
			</div>

			<div class="col-12 verticleSpace"></div>
			<div class="col-12 padLeftRightZero">
				User Response: {{(currQuestion | async).answer.answer_value | json}}
			</div>

		</div>
	</div>


</div>
<div *ngIf="(isTestinProgress | async)" class="row marginLeftRightZero">
	<div class="col">
		<button *ngIf="(prevQuestion | async)" type="button" class="btn btn-outline-success quesNavButton" (click)="navigateQuestion('prev')">Previous</button>
	</div>
	<div class="col text-right">
		<button *ngIf="(nextQuestion | async)" type="button" class="btn btn-outline-success quesNavButton" (click)="navigateQuestion('next')">Next</button>
		<button type="button" class="btn btn-outline-success resetAnswerButton" (click)="resetCurrAnswer()" *ngIf="(currQuestion | async).isAnswered">Reset</button>
		<button type="button" class="btn btn-outline-success saveAnswerButton" (click)="saveCurrAnswer()" [disabled]="disableSaveButon || (currQuestion | async).isAnswered"
		 *ngIf="!(currQuestion | async).isAnswered">Save</button>
	</div>
</div>